<div class="row top-menu">
	<div class="col-md-1"></div>
	<div class="col-md-7">
		<table>
			<tr>
				<td style="padding:5px;">
					<a href="{{url_for('showRestaurants')}}">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Show All Restaurants
					</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-1">
		{% if 'username' in login_session %}
			<a href="{{url_for('showWebApi')}}">
				Web API
			</a>
		{% endif %}
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-2 text-right">
		<!-- check if creator object is empty -->
		{% if 'username' not in login_session %}
			<!-- show login -->
			<a href="{{url_for('showLogin')}}">Click Here to Log in </a>
		{% else %}
			<!-- show logout -->
			<a href="{{url_for('processLogout')}}">Click Here to Log out </a>
		{% endif %}
	</div>
</div>