<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

		<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

		<script src="//apis.google.com/js/platform.js?onload=start"></script>

		<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
	</head>
	<body>
		<div class="container">
			<div class="row top-menu">
				<div class="col-md-6">
					<table>
						<tr>
							<td style="padding:5px;">
								<a href="{{url_for('showRestaurants')}}">
									<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Restaurants
								</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<p>&nbsp;</p>
			<h2>Login</h2>
			<p>Please use one of the services below to login to Restaurant Menu web site.</p>

			<!--<a href="{{url_for('showAmzLogin')}}">-->
				<!--<div class="row">-->
					<!--<div class="col-md-1"></div>-->
					<!--<div class="col-md-10 restaurant-list">-->
						<!--<h3>Amazon Login</h3>-->
					<!--</div>-->
					<!--<div class="col-md-1"></div>-->
				<!--</div>-->
			<!--</a>-->
			<!-- START AMZ SIGN IN -->
			<div>
				<h3>Amazon Login</h3>
				<div id="amazon-root"></div>
				<script type="text/javascript">

				  window.onAmazonLoginReady = function() {
				    amazon.Login.setClientId('{{AMZ_CLIENT_ID}}');
				  };
				  (function(d) {
				    var a = d.createElement('script'); a.type = 'text/javascript';
				    a.async = true; a.id = 'amazon-login-sdk';
				    a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
				    d.getElementById('amazon-root').appendChild(a);
				  })(document);

				</script>

				<a href="#" id="LoginWithAmazon">
				  <img border="0" alt="Login with Amazon"
				    src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
				    width="156" height="32" />
				</a>

				<script type="text/javascript">

				  document.getElementById('LoginWithAmazon').onclick = function() {
				    options = { scope : 'profile' };
				    amazon.Login.authorize(options, "{{url_for('showRestaurants')}}");
				    return false;
				  };

				</script>
			</div>
			<!-- END AMZ SIGN IN -->

			<!--<a href="{{url_for('showFbLogin')}}">-->
				<!--<div class="row">-->
					<!--<div class="col-md-1"></div>-->
					<!--<div class="col-md-10 restaurant-list">-->
						<!--<h3>Facebook Login</h3>-->
					<!--</div>-->
					<!--<div class="col-md-1"></div>-->
				<!--</div>-->
			<!--</a>-->
			<!-- START FB SIGN IN -->

			<div>
				<h3>Facebook Login</h3>
				<script>
					// This is called with the results from from FB.getLoginStatus().
					function statusChangeCallback(response) {
						console.log('statusChangeCallback');
						console.log(response);
						// The response object is returned with a status field that lets the
						// app know the current login status of the person.
						// Full docs on the response object can be found in the documentation
						// for FB.getLoginStatus().
						if (response.status === 'connected') {
							// Logged into your app and Facebook.
							testAPI();
						}
						else if (response.status === 'not_authorized') {
							// The person is logged into Facebook, but not your app.
							testAPI();
							document.getElementById('status').innerHTML = 'Please log ' +
								'into this app.';
						}
						else {
							// The person is not logged into Facebook, so we're not sure if
							// they are logged into this app or not.
							testAPI();
							document.getElementById('status').innerHTML = 'Please log ' +
								'into Facebook.';
						}
					}

					// This function is called when someone finishes with the Login
					// Button.  See the onlogin handler attached to it in the sample
					// code below.
					function checkLoginState() {
						FB.getLoginStatus(function (response) {
							statusChangeCallback(response);
						});
					}

					window.fbAsyncInit = function () {
						FB.init({
							appId: '{{FB_APP_ID}}',
							cookie: true,  // enable cookies to allow the server to access
										// the session
							xfbml: true,  // parse social plugins on this page
							version: 'v2.5' // use graph api version 2.5
						});

						// Now that we've initialized the JavaScript SDK, we call
						// FB.getLoginStatus().  This function gets the state of the
						// person visiting this page and can return one of three states to
						// the callback you provide.  They can be:
						//
						// 1. Logged into your app ('connected')
						// 2. Logged into Facebook, but not your app ('not_authorized')
						// 3. Not logged into Facebook and can't tell if they are logged into
						//    your app or not.
						//
						// These three cases are handled in the callback function.

						FB.getLoginStatus(function (response) {
							statusChangeCallback(response);
						});

					};

					// Load the SDK asynchronously
					(function (d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s);
						js.id = id;
						js.src = "//connect.facebook.net/en_US/sdk.js";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));

					// Here we run a very simple test of the Graph API after login is
					// successful.  See statusChangeCallback() for when this call is made.
					function testAPI() {
						//window.location='{{url_for('showRestaurants')}}';
						console.log('Welcome to FB!  Fetching your information.... ');
						FB.api('/me', function (response) {
							console.log('Successful login to FB for: ' + response.name);
							document.getElementById('status').innerHTML =
								'Thanks for logging in, ' + response.name + ' to FB!';
						});
					}
				</script>
				<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
				</fb:login-button>

				<div id="status">
				</div>

			</div>
			<!-- END FB SIGN IN -->

			<!--<a href="{{url_for('showGLogin')}}">-->
				<!--<div class="row">-->
					<!--<div class="col-md-1"></div>-->
					<!--<div class="col-md-10 restaurant-list">-->
						<!--<h3>Google Login</h3>-->
					<!--</div>-->
					<!--<div class="col-md-1"></div>-->
				<!--</div>-->
			<!--</a>-->
			<!-- GOOGLE PLUS SIGN IN-->
			<div>
				<div id="signInButton">
					<h3>Google Login</h3>
						<span class="g-signin"
							data-scope="openid email"
							data-clientid="{{G_CLIENT_ID}}"
							data-redirecturi="postmessage"
							data-accesstype="offline"
							data-cookiepolicy="single_host_origin"
							data-callback="signInCallback"
							data-approvalprompt="force">
						</span>
				</div>

				<div id="result"></div>

				<script>
					function signInCallback(authResult) {
						if (authResult['code']) {

							// Hide the sign-in button now that the user is authorized
							$('#signinButton').attr('style', 'display: none');

							// Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page

							$.ajax({
								type: 'POST',
								url: '/gconnect?state={{STATE}}',
								processData: false,
								data: authResult['code'],
								contentType: 'application/octet-stream; charset=utf-8',
								success: function (result) {
									// Handle or verify the server response if necessary.
									if (result) {
										$('#result').html('Login Successful!</br>' + result + '</br>Redirecting...');
										$('#signinButton').attr('style', 'display: none');
										setTimeout(function () {
											window.location = "{{url_for('showRestaurants')}}?state={{STATE}}";
										}, 1);


									} else if (authResult['error']) {

										console.log('There was an error: ' + authResult['error']);
									} else {
										$('#result').html('Failed to make a server-side call. Check your configuration and console.');
									}

								}

							});
						}
					}
				</script>
			</div>
			<!--END GOOGLE PLUS SIGN IN -->
		</div>
	</body>
</html>
