<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Restaurants</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
		integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
		crossorigin="anonymous"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{url_for('showRestaurants')}}">Restaurants Directory</a>
		</div>
	</div>
</nav>
<div id="header">
	<section class="section">
		<div class="container">
			<a class="btn btn-primary" style="float:right;margin-top:20px;" href="{{url_for('newRestaurant') }}"
							role="button">Create New Restaurant</a>
			<h1>Restaurants Directory</h1>
		</div>
	</section>
</div>
<div id="content">
	<section class="section">
		<div class="container">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<br>
			<div class="alert alert-info" role="alert">
				<ul>
					{% for message in messages %}
					<li><strong> {{ message }} </strong></li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			{% endwith %}

			<!-- Table -->
			<table class="table table-striped">
				<thead>
				<tr>
					<th>
						Restaurant Name
					</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				{% for i in restaurants %}
				<tr>
					<td>
						{{i.name}}
					</td>
					<td>
						<a href="{{url_for('showMenu',restaurant_id = i.id)}}">Menu Items</a>
					</td>
					<td>
						<a href="{{url_for('editRestaurant',restaurant_id = i.id)}}">Edit</a>
					</td>
					<td>
						<a href="{{url_for('deleteRestaurant', restaurant_id = i.id)}}">Delete</a>
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
</div>
</body>

</html>
